.miniproduct {
  text-align: center;
}

.miniproduct button {
  font-size: 12px;
  margin-left: 15px;
}

.miniproduct p {
  display: inline;
  font-size: 18px;
}

.miniproduct i {
  font-size: 20px;
  margin: 2px 0;
}
